ENV=dev
WORKERS=5

# RabbitMQ properties
RMQ_HOSTNAME=someplace:5672
RMQ_USER=user
RMQ_PASSWORD=lel
RMQ_VHOST=somehost
RMQ_QUEUE=someq

# Target rate limits (leaky bucket)
TARGET_BUCKET_SIZE=1000
TARGET_RESTORE_RATE=100
TARGET_INVOCATION_COST=50
