# Collector config
export COLLECTOR_PORT=8080
export COLLECTOR_IMAGE_TAG=<docker-image-tag>
export COLLECTOR_X_API_KEY=<some-key>

# Processor config
export PROCESSOR_HEALTHCHECK_PORT=3000
export PROCESSOR_IMAGE_TAG=<docker-image-tag>
export PROCESSOR_WORKERS=5
export PROCESSOR_TARGET_BUCKET_SIZE=1000
export PROCESSOR_TARGET_RESTORE_RATE=100
export PROCESSOR_TARGET_INVOCATION_COST=50

# Common
export ECR_BASE=<ecr-repository-base>
export RMQ_TLS=true
export RMQ_HOSTNAME=somehost
export RMQ_USER=admin
export RMQ_PASSWORD=lol
export RMQ_VHOST=/
export RMQ_QUEUE=eventq
